.button {
  background-color: $green;
  width: 100%;
  cursor: pointer;
	padding: 10px 5px;
  font-weight: bold;
  color: white;
  border: none;

  &:not(.button--disabled) {
    &:hover {
      opacity: 0.8;
    }
  }

  &--disabled {
    background-color: $greyDark;
    opacity: 0.3;
    cursor: not-allowed;
  }
}
