.field-wrapper {
  position: relative;

  &__units {
    position: absolute;
    right: 6px;
    top: 7px;
    font-size: 0.8em;
    color: grey;
  }
}

.field {
  display: block;
  width: 100%;
  border: none;
  background-color: $grey;
  transition: border-bottom 300ms ease;
  height: 34px;
  padding: 0 12px;
  line-height: 30px;

  &:focus {
    outline: none;
  }
}

