.field-wrapper {
  height: 34px;
  position: relative;

  &--units {
    position: absolute;
    right: 6px;
    top: 6px;
  }
}

.label {
  display: block;
  width: 100%;
  transform: translate(12px, -28px);
  transition: all 300ms ease;
  text-align: left;
  height: 0;
}

.field {
  display: block;
  width: 100%;
  border: none;
  background-color: $grey;
  transition: border-bottom 300ms ease;
  height: 34px;
  padding: 0 12px;
  line-height: 30px;
  position: relative;

  &:focus {
    outline: none;
  }

  &:focus ~ label, &:hover ~ label, &:valid ~ label {
    transform: translateY(-50px);
    font-size: 12px;
    outline: none;
  }
}

