.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.wrapper {
  width: 80%;
  max-width: 400px;

  &--big {
    max-width: 600px;
  }
}

.row {
  display: flex;

  &--align-between {
    justify-content: space-between;
  }

  &--height-15 {
    height: 15px;
  }
}

.column {
  display: flex;

  &--vertical {
    flex-direction: column;
  }

  &--align-center {
    align-items: center;
  }
}

$spaceamounts: (6, 12, 18, 24, 30);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{$side}-#{$space} {
      margin-#{$side}: #{$space}px;
    }

    .p-#{$side}-#{$space} {
      padding-#{$side}: #{$space}px;
    }
  }
}
